body {
    background-color: gainsboro;
}

.container-fluid {
    background-color: white;
}

.navbar-brand {
    color:black;
    font-size: large;
}

.profilepic {
    align-items:end;
    display: block;
    max-width: 10px;
    max-height: 10px;
    margin-right: auto;
    margin-left: 100px;
  }